html, body, section, article, div, label, input, form, header,
h1, h2, h3, p, ul, strong, em, a, li, button, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  font-family: inherit;
  text-decoration: inherit;
  // text-align: inherit;
  color: inherit;
  background: transparent;
}

.view {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #fff;
  /*background: #f7e9d7;*/
  /*background: #fff1eb;*/
}

.board {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*background: #fff;*/
  background: #fff1eb;
  /*opacity: 0.7;*/
  /*min-height: 401px;
  min-width: 401px;
  max-height: 801px;
  max-width: 801px;
  height: 100%;
  width: 100%;*/
  min-height: 401px;
  width: 401px;
  /*padding: 20px;*/
  /*border: dashed 5px #44899c;*/
  /*border: dashed 5px #001cba;*/
  /*border: dashed 5px #9401fb;*/
  border: dashed 5px #4f8caf;
  color: #001cba;
  list-style: none;
  position: relative;
}

/*.button:active {
  transition: opacity 5s;
  position: absolute;
  opacity: 0.3;
}*/

.tile {
  /*flex-basis: 1 1 50%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-direction: column;*/
  color: #fafafa;
  /*background: red;*/
  height: 50px;
  width: 50px;
  /*max-height: 90px;*/
  /*max-width: 90px;*/
  /*heighst: 100%;*/
  /*width: 100%;*/
  /*margin: 5px;*/
  -webkit-animation-duration: 0.6s;

}

.button {
  /*position: absolute;*/
  /*display: block;*/
  /*flex: 1 1 30px;*/
  align-items: center;
  /*z-index: 5;*/
  /*border: blue solid 1px;*/
  /*max-height: 80px;
  max-width: 80px;
  height: 100%;
  width: 100%;*/
  height: 45px;
  width: 45px;
  /*max-height: 80px;*/
  /*max-width: 10px;*/
  /*height: 100%;*/
  /*width: 100%;*/
  margin: 5px;
  -webkit-animation-duration: 0.6s;
  /*-webkit-animation-iteration-count: infinite;*/
  /*position: relative;*/
 }

 .pulse {
   /*filter: grayscale(0.5);*/
   -webkit-animation-iteration-count: infinite;
   /*-webkit-animation-delay: 1s;*/
   /*filter: drop-shadow(30px 30px 30px black);*/
 }

/*.button:hover {
  opacity: 0.3;
}*/

h1 {
  padding-top: 70px;
  font-family: 'Sacramento', cursive;
  font-size: 72px;
  /*color: #fff;*/
  /*color: #9401fb;*/
  /*color: #4f8caf;*/
  color: #ff3380;
  text-shadow: 4px 4px 0 #fff,
              1px 1px 50px #fff;

  /*color: #001cba;*/
}

.first {
  -webkit-animation-delay: 1.5s;
}

.selected {
  /*background: blue;*/
  /*background: #f7e9d7;*/
  background: #d7ebca;
}


.score {
  margin-top: 50px;
  position: absolute;
  /*display: flex;*/
  top: 25%;
  left: -43%;
  text-align: center;
  padding: 10px;

  border: dashed 5px #4f8caf;
  height: auto;
  width: 116px;
  /*font-family: 'Bad Script', cursive;*/
  font-family: 'Nixie One', cursive;
  font-size: 24px;
  /*background: #fff;*/
  background: #fff1eb;

  /*color: #9401fb;*/
  color: #001cba;

}

/*.clicked {
  /*background: blue;*/
}
*/
/*.first {
  -webkit-animation-iteration-count: infinite;
}*/

.welcome-fade {
  opacity: 0.5;
}

.welcome {
  position: absolute;
  /*background: #fff;*/
  background: #fff1eb;

  z-index: 50;
  top: 200px;
  margin: 20px 0;
  padding: 20px;
  /*border: dashed 5px #4f8caf;*/
  /*border: dashed 5px #ff3380;*/
  border: dashed 5px #e896cf;
  height: auto;
  width: 380px;
  /*font-family: 'Bad Script', cursive;*/
  font-family: 'Nixie One', cursive;
  font-size: 20px;
  /*color: #001cba;*/
  color: #4f8caf;
}

.welcome-container {
  position: absolute;
  /*background: blue;*/
  /*background: #4f8caf;*/
  background: #e896cf;
  opacity: 0.5;
  z-index: 30;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  /*justify-content: center;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*left: 0;*/
  width: 920px;
  height: 800px;
}

.start-button {
  position: absolute;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /*border: dashed 5px #4f8caf;*/
  /*border: dashed 5px #ff3380;*/
  border: dashed 5px #e896cf;
  /*text-align: center;*/
  /*padding: 30px 20px 30px 20px;*/
  /*background: #fff;*/
  background: #fff1eb;

  z-index: 50;
  top: 500px;
  height: 100px;
  width: 100px;
  color: #001cba;
}

.start-text {
  /*font-family: 'Bad Script', cursive;*/
  font-family: 'Nixie One', cursive;
  font-size: 26px;
  /*color: #001cba;*/
  color: #4f8caf;
}

.game-container {
  max-height: 900px;
  max-width: 1000px;
  /*background: blue;*/
  display: flex;
  background: #fff1eb;
}
/*.score-container {
  width: 100px;
}*/

.comments-container {

}

.header-container {
  /*position: absolute;*/
  /*background: blue;*/
  /*opacity: 0.5;*/

}
.quilt {
  opacity: 0.9;
  /*margin-top: 30px;*/
  z-index: -1;
  min-width: 800px;
  min-height: 800px;
  width: auto;
  max-width: 800px;
  max-height: 800px;
  /*min-width: 1067px;
  min-height: 891px;
  width: auto;
  max-width: 1267px;
  max-height: 1091px;*/
  width: 100%;
  height: 100%;
  position: absolute;
}

.notifications {
  position: absolute;
  padding: 5px;
  border: dashed 5px #4f8caf;
  top: 420px;
  width: 391px;
  font-family: 'Nixie One', cursive;
  font-size: 20px;
  text-align: center;
  color: #4f8caf;
  background: #fff1eb;


}


.bonus {
  margin-top: 50px;
  position: absolute;
  top: 25%;
  right: -43%;
  text-align: center;
  padding: 10px;

  border: dashed 5px #4f8caf;
  height: auto;
  width: 116px;
  /*font-family: 'Bad Script', cursive;*/
  font-family: 'Nixie One', cursive;
  /*font-family: 'Sacramento', cursive;*/
  font-size: 36px;
  /*background: #fff;*/
  background: #fff1eb;

  /*color: #9401fb;*/
  /*color: #001cba;*/
  color: #ff3380;

}



.losing-image {
position: absolute;
/*display: block;*/
/*background: #fff;*/
background: #fff1eb;
opacity: 1;
z-index: 50;
top: 200px;
margin: 20px 0;
padding: 20px;
border: dashed 5px #4f8caf;
/*border: dashed 5px #ff3380;*/
/*border: dashed 5px #e896cf;*/
height: auto;
width: 380px;
/*font-family: 'Bad Script', cursive;*/

}

.losing-container {
  position: absolute;
  /*background: blue;*/
  background: #4f8caf;
  /*background: #e896cf;*/
  opacity: 0.5;
  z-index: 40;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  /*justify-content: center;*/
  /*top: 0;
  bottom: 0;
  right: 0;
  left: 0;*/
  width: 920px;
  height: 800px;
}


.losing-text {
  /*display: block;*/
  opacity: 1;
  position: absolute;
  /*background: red;*/
  height: 20px;
  z-index: 51;
  top: 254px;
  right: 654px;
  margin: 20px 0;
  padding: 20px;
  font-family: 'Nixie One', cursive;
  font-size: 20px;
  /*color: #001cba;*/
  color: #4f8caf;
  -webkit-animation-delay: 1s;
}

.group {
  display: block;
  content: "";
  clear: both;
}
